<h1>Campgrounds</h1>

<section style="clear:both">
  <%= form_tag camps_path, method: :get do %>
    <%= label_tag :search, 'Find campgrounds nearby' %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</section>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @camps.each do |camp| %>
      <tr>
        <td><%= link_to camp.name, camp %></td>
        <td><%= camp.full_address %></td>
        <td><%= camp.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a campground', new_camp_path %>
