<h1>Campgrounds</h1>

<section style="clear:both">
  <%= form_tag camps_path, method: :get do %>
    <%= label_tag :search, 'Find campgrounds nearby' %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</section>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <%= render @camps %>
  </tbody>
</table>

<br>

<%= link_to 'Add a campground', new_camp_path %>
