<h1><%= @camp.name %> Info</h1>

<div class="info">
  <p>Location: <%= @camp.full_address %></p>
  <p>Description: <%= @camp.description %></p>
</div>

<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>

<h3>Reviews</h3>

<%= render 'review' %>

<% if current_user %>
  <h4>New Review</h4>
  
  <%= render 'reviews/form' %>

<% else %>
    <p>Please <%= link_to "login", new_session_path %> to add a review.</p>
<% end %>