<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Camp Trip</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
  </head>

  <body>


    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Camp Trip", root_path %></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#">Right Button Active</a></li>
          
          <% if current_user %>
            <li class="has-dropdown">
              <a href="#"><%= current_user.username %></a>
              <ul class="dropdown">
                <li><%= link_to "My profile", user_path(current_user.id) %></li>
                <li><%= link_to "Logout", :logout, method: :post %></li>
                <li class="active"><a href="#">Active link in dropdown</a></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Register", new_user_path %></li>
            <li><%= link_to "Login", :login %></li>
          <% end %>

        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><%= link_to "Campgrounds", camps_path %></li>
          <li><%= link_to "Users", users_path %></li>
        </ul>
      </section>
    </nav>


    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    <%= yield %>

  </body>

</html>
